<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>

</head>
<body>
    <%- include('./partials/header.ejs') %>
    
    <form action="/users/login" method="post">
        </div>

        <div>
            <label for="email">Email
                <input type="email" id="email" name="email">
            </label>
        </div>

        <div>
            <label for="password">Password
                <input type="password" name="password" id="password">
            </label>
        </div>

        <button>Registrarse</button>
    </form>
    
</body>
</html>